[Unit]
Description=GNOME Keyring (Secrets Service)
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/gnome-keyring-daemon --foreground --components=secrets,ssh
Restart=on-failure

[Install]
WantedBy=default.target
