input {
  
}

// HOME MONITORS


// WORK MONITORS
output "HDMI-A-1" {
  mode "1920x1080@60.000"
  position x=0 y=0
}

output "DP-1" {
  mode "2560x1440@143.912"
  variable-refresh-rate on-demand=true
  position x=1920 y=0
}

output "HDMI-A-2" {
  mode "1920x1080@60.000"
  position x=4480 y=0
}

binds {
  MOD+C 		      repeat=false { "close-window"; }
  MOD+F           repeat=false { "maximize-column"; }
  MOD+SHIFT+F     repeat=false { "fullscreen-window"; }
  MOD+L           repeat=false { spawn "swaylock" "-c" "000000"; }

  MOD+LEFT        { focus-column-left; }
  MOD+RIGHT       { focus-column-right; }
  MOD+UP          { focus-window-up; }
  MOD+DOWN        { focus-window-down; }

  MOD+CTRL+LEFT   { move-column-left; }
  MOD+CTRL+RIGHT  { move-column-right; }
  MOD+CTRL+UP     { move-window-up; }
  MOD+CTRL+DOWN   { move-window-down; }

  MOD+CTRL+PAGE_DOWN  cooldown-ms=150 { move-column-to-workspace-down; }
  MOD+CTRL+PAGE_UP    cooldown-ms=150 { move-column-to-workspace-up; }
  MOD+PAGE_DOWN       cooldown-ms=150 { focus-workspace-down; }
  MOD+PAGE_UP         cooldown-ms=150 { focus-workspace-up; }

  MOD+BRACKETLEFT   { consume-or-expel-window-left; }
  MOD+BRACKETRIGHT  { consume-or-expel-window-right; }

  MOD+SHIFT+LEFT    { focus-monitor-left; }
  MOD+SHIFT+RIGHT   { focus-monitor-right; }

  MOD+CTRL+SHIFT+LEFT   { move-window-to-monitor-left; }
  MOD+CTRL+SHIFT+RIGHT  { move-window-to-monitor-right; }

  MOD+E  		        repeat=false { spawn "thunar"; }
  MOD+Q  		        repeat=false { spawn "ghostty"; }
  MOD+RETURN		    repeat=false { spawn-sh "google-chrome-stable"; }
  MOD+SHIFT+RETURN  repeat=false { spawn-sh "chrome-work"; }
  MOD+SPACE 		    repeat=false { spawn-sh "rofi -show drun"; }
  MOD+PERIOD        repeat=false { spawn-sh "rofimoji --action type --typer wtype"; }
  CTRL+ALT+DELETE	  repeat=false { "quit"; }

  XF86AudioRaiseVolume  allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 1%+"; }
  XF86AudioLowerVolume  allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 1%-"; }

  PRINT           { screenshot; }
}

environment {
  XDG_CURRENT_DESKTOP 	"niri"
}

layout {
  gaps 12
  background-color "#000000"

  focus-ring {
    width 2
    active-color "#206060"
  }
}

window-rule {
  match app-id=r#"^steam_app"#
  focus-ring {
    off
  }
}

window-rule {
  match title=r#"^Outlook \(PWA\)"#
  open-on-output "HDMI-A-1"
}

window-rule {
  match title=r#"^Microsoft Teams \(PWA\)"#
  open-on-output "HDMI-A-1"
}

window-rule {
  match app-id="code"
  open-on-output "DP-1"
}

window-rule {
  match app-id="google-chrome"
  open-on-output "HDMI-A-2"
}

layer-rule {
  match namespace="notifications"
  baba-is-float true
}

gestures {
  hot-corners {
    off
  }
}

hotkey-overlay {
  skip-at-startup
  hide-not-bound
}
